//===========================
//  样式覆盖
//===========================


//===========================
// 修改下划线样式
//===========================
.article a:not([class]):not([data-fancybox]),
.content > a
  position: relative
  text-decoration: none
  &:before
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px
    height: 1px
    width: 100%
    background: #ff5722
    transform: scale(0)
    transition: all 0.5s
  &:hover:before
    transform: scale(1)


//===========================
// 右键样式修改
//===========================
ul.list-v.rightmenu
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.08), 0 4px 8px 0 rgba(0,0,0,.08), 0 8px 16px 0 rgba(0,0,0,.08)
  border-radius: 8px
  li
    a
      cursor: $pointer,pointer !important

//===========================
// 文章页不显示头图 headimg
//===========================
#l_main .article .headimg-div
  display: none

//===========================
// 样式修订 HandSome H1 H2 标题
//===========================
//article#post
//  & > h1,h2,h3
//    font-weight: 700
//    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
//    display: initial
//    width: auto
//    border-bottom: none
//  & > h3
//    font-weight: 500

//标题样式
h1.title
  margin: 10px
  text-align: center
  font-size: 2rem !important
  font-weight: 600
  font-family: $fontfamily-logo
h1.title.common_read_h1
  text-align: center !important
  font-size: 2.5rem !important

// link 标签 链接居中
.md .tag.link
  margin: 1em auto
  text-align: center