//=============================//
// 自定义样式 提供可复用的样式  //
//============================//


// 修饰导航栏标题
.fix-header-title
  margin: 0 auto
  font-size: 1.5rem
  overflow: hidden
  font-weight: 800 !important
  font-family: '' !important
  @media screen and (max-width: $device-mobile)
    margin: unset !important
    font-size: 1rem !important

//======================================//
//// 全局背景
//#BKG
//  background-image: url(hexo-config('globalBackground'))
//  background-size: cover
//  background-position: center
//  z-index: -20
//  position: fixed
//  top: 0
//  bottom: 0
//  right: 0
//  left: 0