@import '_defines/*'

// Project
@import '_style'
@import '_sizins/others.styl'
@import '_sizins/custom.styl'
@import '_sizins/cover.styl'
@import '_sizins/color.styl'
@import '_mogai/*'
// Custom Files
for $injects_style in hexo-config('injects.style')
  @import $injects_style;

#safearea{
  display: block
}
